#header {
    position: fixed;
    width: 100%;
    background-color: black;
    /* background-color: transparent; */
    z-index: 3;
}

.scroll {
    background-color: black;
}

/* .header::-webkit-scrollbar {
    background-color: black;
} */


.header-container {
    width: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 0px 5px 0px 5px;
    object-fit: contain;
    transition-duration: 0.6s;
    padding: 0, 20px;
}

.content:hover {
    transform: scale(1.1, 1.15);
    padding: 0px;
    margin: 0px 12px;
    cursor: pointer;
}


.category-title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 20px 10px 0px 10px;
    margin: 0px 15px;
}

.contentContainer {
    display: flex;
    overflow-y: hidden;
    padding: 20px;
}

.contentContainer::-webkit-scrollbar {
    display: none;
}

.rowContainer {
    background-color: #151515;
}
