#header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.hide {
    background-color: transparent;
}

.scroll {
    background-color: black;
}

.profile-1 {
    background-image: url("../images/profile/profileImage-1.svg");
}

.profile-2 {
    background-image: url("../images/profile/profileImage-2.svg");
}

.profile-3 {
    background-image: url("../images/profile/profileImage-3.svg");
}
.profile-4 {
    background-image: url("../images/profile/profileImage-4.svg");
}
.profile-5 {
    background-image: url("../images/profile/profileImage-5.svg");
}
.profile-10 {
    background-image: url("../images/profile/profileImage-10.svg");
}

.profile {
    background-repeat: no-repeat;
    background-position: center;
    height: 16vw;
    width: 16vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 84px;
    min-width: 84px;
    margin: 1vh 2vw;
    border-radius: 2%;
    display: flex;
    justify-self: center;
    transition: 0.4s;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
}

.profile-header {
    font-size: 55px;
    color: white;
    margin-bottom: 30px;
    font-weight: 500;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.profile:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.profile-name {
    margin: auto;
    margin: 2vw;
    color: white;
    font-size: 25px;
    margin-top: 1vw;
}

#new-profile-form {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-input {
    background-color: #666666;
    color: white;
    font-size: 18px;
    width: 100%;
    margin: 10px;
    padding: 5px;
}

#profile-imput-webkit-autofill {
    box-shadow: 0 0 0 1000px #333333 inset !important;
    -webkit-text-fill-color: white !important;
    font-size: 16px !important;
}

::-webkit-input-placeholder {
    color: rgba(211, 211, 211, 0.603);
}

#new-profile-button {
    background-color: rgb(229,9,22);
    font-weight: 600px;
    color: white;
    font-size: 18px;
    width: 100%;
    margin: 10px;
    padding: 8px;
}

#new-profile-button {
    cursor: pointer;
}

#new-profile-select {
    font-size: 18px;
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.new-profile {
    background-repeat: no-repeat;
    background-position: center;
    height: 12vw;
    width: 12vw;
    max-height: 130px;
    max-width: 130px;
    min-height: 70px;
    min-width: 70px;
}




.add-profile {
    font-size: 30px;
    color: white;
    margin: 2% 0;
}

.hidden-button {
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 17px;
    width: 60%;
    padding: 2px;
}

.delete-profile {
    background-color: rgb(229,9,22);
    color: white;
    font-size: 17px;
    width: 60%;
    border: none;
    border-radius: 3px;
    padding: 2px;
}

.delete-profile:hover {
    cursor: pointer;
}

.create-profile {
    margin-bottom: 20px;
}

.profile-description {
    font-size: 15px;
    color: white;
    margin: 2% 0;
}

.new-profile-select {
    width: 90%;
    margin: 10px;
    padding: 5px;
}

.hidden {
    display: none !important;
}



#modal-container {
    position: absolute;
    right: 6%;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-width: 130px;
}

.modal-item {
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
}

.logout {
    background-color: rgb(229,9,22);
    color: white;
    font-size: 15px;
    width: 90%;
    margin: 10px;
    padding: 5px;
}

.logout:hover {
    cursor: pointer;
}

#feature-container {
    min-height: 475px;
    max-height: 500px;
    width: 100%;
    background-color: #151515;

}

.feature-image {
    width: 100%;
    min-height: 575px;
    max-height: 625px;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 10px;
    mask-image: linear-gradient(to top, transparent 11%, black 45%);

}
.feature-title {
    position: absolute;
    max-width: 30%;
    z-index: 4;
    top: 125px;
    left: 60px;
    background-color: rgba(0,0,0,.0);
    display: flex;
    flex-direction: column;
    color: white;
}

.feature-title-text {
    font-size: 42px;
}

.feature-details {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 200px;
    background-color: rgba(0,0,0,.15);
}

.header-container {
    width: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
}

.header-image {
    background-repeat: no-repeat;
    position: absolute;
    right: 9%;
    height: 55px;
    width: 55px;
    background-color: transparent;
    background-position: center;
}

.logo {
    background-image: url("../images/Nickflix-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 185px;
    height: 53px;
    z-index: 20;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px;
}

.logo:hover {
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}

.content {
    margin: 0px 5px 0px 5px;
    object-fit: contain;
    padding: 0;
}

.vid-container:hover {
    transform: scale(1.1, 1.15);
    padding: 0px;
    margin: 0px 12px;
    cursor: pointer;
}

.vid-container {
    position: relative;
    transition-duration: 0.6s;
}

.add-to-watchlist {
    z-index: 7;
    color: white;
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
}

.add-to-watchlist:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}


.category-title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 20px 10px 0px 10px;
    margin: 0px 15px;
}

.contentContainer {
    display: flex;
    overflow-y: hidden;
    padding: 20px;
}

.contentContainer::-webkit-scrollbar {
    display: none;
}

.rowContainer {
    background-color: #151515;
}

.trailer {
    margin: 0 30px;
}
